@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

/* css reset */

* {
    margin: 0;
    padding: 0;
}


/* Body styling */

html {
    scroll-behavior: smooth;
    font-family: 'Baloo Bhai 2', cursive ;
}

/* home styling starts here */

#home {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/* navbar styling starts here  */


.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 5px 0px;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 10;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}

.logo img{
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin: 0px 10px;
    cursor: pointer;
}


.logo h2{
    color: firebrick;
    font-size: 2.5rem;
    margin-left: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.logo h2:hover{
    color: white;
}

#check{
    display: none;
}

.toogle-btn{
    color: white;
    font-size: 30px;
    margin-right: 40px;
    display: none;
    cursor: pointer;
    transition: ease-in-out all 0.3s;
}

.toogle-btn:hover{
    color: grey ;
}

.nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.nav ul li{
    list-style: none;
    padding:  0 10px;
    font-size: 20px;
}

.nav ul li a{
    color: white;
    text-decoration: none;
    letter-spacing: 0.1px;
    transition: all ease-in-out 0.4s;
}

.nav ul li a:hover{
    color: firebrick;
    border-bottom: firebrick 0.5px solid;
    border-top: firebrick 0.5px solid;
}


@media (max-width: 1200px){

    .logo h2{
        font-size: 2rem;
    }

    .nav ul{
        margin-right: 20px;
    }

    .nav ul li{
        font-size: 20px;
    }

    .nav ul li a{
        letter-spacing: 0;
    }

}

@media (max-width: 970px){

    .nav .logo img{
        margin: 5px;
    }

    .toogle-btn{
        display: block;
    }

    .nav .menu{
        margin-top: 575px;
        height: 500px;
        width: 100vw;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.9);
        margin-left: -200%;
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transition: 0.3s ease-in-out all;
    }

    #check:checked ~ .menu{
        margin-left: 0%;
    }

    .nav ul li{
        margin: 5px 20px;
        width: 100vw;
        line-height: 4rem;
    }
    
    .nav ul li a{
        font-size: 22px;
        margin-top: -100%;
        width: 100vw;
        transition: all ease-in-out 0.5s ;
        transition-delay: 0.3s;
    }
    
    #check:Checked ~ .menu li a{
        margin-top: 0%;
    }

}

@media (max-width:375px){

    .nav .logo{
        margin-left: 5px;
    }

    .nav .logo img{
        width: 40px;
        height: auto;
        margin: 10px;
    }

    .nav .logo h2{
        font-size: 1.5rem;
        margin-left: 5px;
    }

    .toogle-btn{
        font-size: 25px;
        margin-right: 20px;
    }
}

/* home styling */

.home {
    height: 450px;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
}

.home .home-text {
    max-width: 500px;
}

.home .home-text h2 {
    color: rgb(151, 9, 9);
    font-family: 'Baloo Bhai 2';
    font-size: 2.8rem;
    font-weight: bolder;
    animation: home-shadow 1.5s forwards;
}

.home .home-text span {
    color: black;
    font-size: 20px;
    font-family: 'Baloo Bhai 2';
    margin: 5px;
    font-weight: bolder;
    animation: home-shadow 1.5s forwards;
}

@keyframes home-shadow {
    from{
        text-shadow: none;
    }
    
    to{
        text-shadow: 4px 4px 10px  white, -2px -2px 5px white;

    }
}

/* .links{
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin: 0px;
    bottom: 40%;
}  */

/* .links a button{
    margin: 0;
} */

.home .home-img img {
    border-radius: 20%;
    transition: all ease-in-out 0.2s;
}

.home .home-img img:hover{
    transform: scale(2);
    border-radius: 5%;
    box-shadow: 2px 2px 5px white, -2px -2px 5px white;
}


/* Microsoft Office styling starts here  */

.office-head {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 25px;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #716d6d;
    border-radius: 20px;
    width: 180px;
    background-color: rgb(224, 219, 219);
    box-shadow: -1px -1px 4px black;
}

.office-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.link {
    border: 2px solid rgb(124, 108, 83);
    border-radius: 20px;
    background-color: rgb(247, 250, 243);
    max-width: 300px;
    min-width: 200px;
    font-family: 'Baloo Bhai 2', cursive;
    padding: 15px; 
    display: flex;
    margin: 30px;
    box-shadow: 5px 5px 10px -1px black;
    flex-direction: column;
    align-items: center;
    transition: all ease-in-out 0.2s;
}

.link:hover{
    transform: scale(1.02);
    z-index: -10;
}

.link img {
    margin: 5px;
    width: 200px;
    height: auto;
}

.link h1 {
    text-align: center;
    width: 95%;
    margin: 5px auto;
    font-size: 20px;
    color: rgb(18, 92, 18);
    font-weight: bolder;
}

.link h4 {
    text-align: center;
    font-size: 15px;
    margin: 5px;
}

.link h4 a {
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: rgb(76, 16, 243);
}

.link h4 a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: lighter;
    padding: 2px;
    margin: 20px;
    border-radius: 5px;
    text-decoration: underline;
    transition: 0.3s;
}


/* youtube-video styling starts here */

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.v-head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.v-head h2 {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 25px;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 3px;
    border: 1px solid #827e7e;
    border-radius: 15px;
    width: 116px;
    background-color: rgb(220, 219, 219);
    box-shadow: -2px -2px 5px black;
}

.v-head a button {
    font-family: 'Baloo Bhai 2';
    cursor: pointer;
    padding: 5px;
    margin: 20px;
    border-radius: 8px;
    background-color: rgb(226, 219, 219);
    color: black;
    text-decoration: none;
    border: 1px solid rgb(132, 127, 127);
    transition:all ease-in-out 0.3s;
    box-shadow: -2px -2px 5px black;
}

.v-head a button:hover {
    background-color: black;
    color: white;
}

.v-body {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.v-body iframe {
    width: 18rem;
    height: auto;
    margin: 15px;
    border-radius: 15px;
    padding: 5px;
    border: 2px solid rgb(219, 194, 146);
    box-shadow: 5px 5px 10px black;
    transition: all ease-in-out 0.3s;
}

.v-body iframe:hover{
    transform: scale(1.1);
}

/* thought styling starts here. */

.thought {
    display: flex;
    flex-wrap: wrap;
}

.t-head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.t-head h2 {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 25px;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 3px;
    border: 1px solid #827e7e;
    border-radius: 15px;
    width: 155px;
    background-color: rgb(220, 219, 219);
    box-shadow: -2px -2px 5px black;
}

.t-head a button {
    font-family: 'Baloo Bhai 2';
    cursor: pointer;
    padding: 5px;
    margin: 20px;
    border-radius: 8px;
    background-color: rgb(226, 219, 219);
    color: black;
    text-decoration: none;
    border: 1px solid rgb(132, 127, 127);
    box-shadow: -2px -2px 5px black;
}

.t-head a button:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
}

.t-body {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


/* thoughts styling starts here */

.mythou {
    font-family: 'Baloo Bhai 2';
    display: block;
    width: 95%;
    font-size: 30px;
    text-align: center;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-evenly;
}

.my-text {
    display: flex;
    align-items: center;
    height: auto;
    max-width: 40vw;
    min-width: 230px;
    border: 2px solid rgb(119, 119, 119);
    background-color: rgb(223, 219, 219);
    border-radius: 20px;
    margin: 10px;
    font-size: 1.5rem;
    padding: 7px;
    box-shadow: 5px 5px 10px black;
    transition: all ease-in-out 0.2s;
}

.my-text:hover{
    transform: scale(1.02);
}


/* footer styling starts here */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin-bottom: 3px;
    font-size: 1rem;
    font-family: 'Baloo Bhai 2';
}


/* Media Query Starts here  */


/* Media Query at 1065px */

@media (max-width: 1065px) {
    @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
    
    .home {
        height: 475px;
    }

    .office-head {
        width: 184px;
        padding: 3px;
        margin: 15px auto;
    }

    .office-link {
        margin: 5px;
    }

    .home img {
        margin: 50px 0px;
    }

    .home .home-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .home .home-text h2 {
        font-size: 2rem;
        font-family: 'Baloo Bhai 2', cursive;
    }

    .home .home-text span {
        font-size: 19px;
        text-align: center;
        font-family: 'Baloo Bhai 2', cursive;
    }

    .v-head h2{
        font-size: 1.2rem;
    }

/* Media Query at 600px */

@media (max-width:600px){
    .my-text{
        max-width: 90vw;
    }
}

/* Media Query at 360px */

@media (max-width:366px){
    
    @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
    
    .home .home-text h2 {
        font-size: 1.5rem;
        font-family: 'Baloo Bhai 2', cursive;
    }

    .home .home-text span {
        font-size: 15px;
        font-family: 'Baloo Bhai 2', cursive;
    }

    .office-head {
        font-size: 25px;
        width: 225px;
    }

    .office-link {
        margin: 0px;
    }

    .link {
        margin: 20px;
        padding: 3px;
    }

    .link img {
        width: 180px;
    }
    
    .link h1 {
        width: 90%;
        font-size: 15px;
        font-weight: bolder;
        font-family: 'Baloo Bhai 2', cursive;
    }

    .v-head h2 {
        font-size: 25px;
        margin: 10px auto;
        padding: 3px;
    }

    .v-head button {
        margin: 10px;
    }

    .v-body {
        margin: 5px;
    }

    .v-body iframe {
        width: 82vw;
        height: auto;
    }

    .t-head h2{
        font-size: 25px;
        padding: 0px;
        margin: 5px;
    }

    .t-head a button{
        font-size: small;
        margin-left: 60%;
        width: 90%;
    }

    footer {
        font-size: 13px;
        font-family: 'Baloo Bhai 2', cursive;
    }
}
}
